#data-table > .button:not(:last-child) {
  margin-right: 5px;
}
.modal {
  position: absolute;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  flex-flow: row wrap;
  z-index: 1;
  padding: 10px;
  top: 32px;
  left: 0;
  right: 0;
  max-width: 300px;
  max-height: 75vh;
  overflow-y: scroll;
}
.modal div {
    flex: 100%;
}
.modal label {
  display: flex;
  flex-flow: row wrap;
}
.modal label input, .modal label textarea {
    width: 100%;
}
.modal .controls {
  display: flex;
  justify-content: space-around;
  padding: 5px 0 20px;
}
.modal .close {
  border-color: red;
  color: red;
}
.modal .button {
  flex-basis: 45%;
  background-color: white;
}
.dataTables_wrapper tr {
  cursor: pointer;
}
